name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels for ${{ matrix.platform-id }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            platform-id: manylinux_x86_64
          - os: ubuntu-20.04
            platform-id: manylinux_aarch64
          - os: windows-2019
            platform-id: win_amd64
          - os: macos-11
            platform-id: macosx_x86_64
          - os: macos-14
            platform-id: macosx_arm64

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        if: matrix.platform-id == 'manylinux_aarch64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_BUILD: cp310-${{ matrix.platform-id }}

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
          retention-days: 1

  run_tests:
    needs: [build_wheels]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, ubuntu-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: pip install -r requirements-test.txt

      - name: Download wheels
        uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - name: Install the library
        run: pip install --no-index --find-links dist coreforecast

      - name: Run tests
        run: pytest --benchmark-group-by=param:scaler_name --benchmark-sort=fullname

  run_tests-macos-arm64:
    needs: [build_wheels]
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11']
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: pip install -r requirements-test.txt

      - name: Download wheels
        uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - name: Install the library
        run: pip install --no-index --find-links dist coreforecast

      - name: Run tests
        run: pytest --benchmark-group-by=param:scaler_name --benchmark-sort=fullname
