name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run tests for ${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
    runs-on: ${{ matrix.os-platform[0] }}
    timeout-minutes: 30
    env:
      CIBW_BUILD_FRONTEND: "build[uv]"
    strategy:
      fail-fast: false
      matrix:
        python-version: [39, 310, 311, 312, 313]
        os-platform:
          [
            [ubuntu-latest, manylinux_x86_64],
            [ubuntu-24.04-arm, manylinux_aarch64],
            [windows-latest, win_amd64],
            [macos-13, macosx_x86_64],
            [macos-14, macosx_arm64],
          ]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"

      - name: Set up uv
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1

      - name: Build wheels and run tests
        uses: pypa/cibuildwheel@c923d83ad9c1bc00211c5041d0c3f73294ff88f6 # v3.1.4
        env:
          CIBW_BUILD: cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
          CIBW_TEST_COMMAND: pytest {project}/tests -k "not efficiency"

  run_benchmarks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          submodules: "true"

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install uv && uv pip install --system ".[dev]" pytest-codspeed

      - name: Run benchmarks
        uses: CodSpeedHQ/action@6eeb021fd0f305388292348b775d96d95253adf4 # 4.0.0
        with:
          token: ${{ secrets.CODESPEED_TOKEN }}
          run: pytest tests/test_efficiency.py --codspeed
