name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run tests for ${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
    runs-on: ${{ matrix.os-platform[0] }}
    timeout-minutes: 30
    env:
      CIBW_BUILD_FRONTEND: "build[uv]"
    strategy:
      fail-fast: false
      matrix:
        python-version: [310, 311, 312, 313, 314]
        os-platform:
          [
            [ubuntu-latest, manylinux_x86_64],
            [ubuntu-24.04-arm, manylinux_aarch64],
            [windows-latest, win_amd64],
            [macos-15, macosx_x86_64],
            [macos-latest, macosx_arm64],
          ]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: "true"

      - name: Set up uv
        uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb # v6.1.0

      - name: Build wheels and run tests
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
          CIBW_TEST_COMMAND: pytest {project}/tests -k "not efficiency"

  run_benchmarks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          submodules: "true"

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # 5.6.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install uv && uv pip install --system ".[dev]" pytest-codspeed

      - name: Run benchmarks
        uses: CodSpeedHQ/action@0010eb0ca6e89b80c88e8edaaa07cfe5f3e6664d # 3.5.0
        with:
          token: ${{ secrets.CODESPEED_TOKEN }}
          run: pytest tests/test_efficiency.py --codspeed
