name: pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all-tests:
    name: Run tests for ${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
    runs-on: ${{ matrix.os-platform[0] }}
    timeout-minutes: 30
    env:
      CIBW_BUILD_FRONTEND: "build[uv]"
    strategy:
      fail-fast: false
      matrix:
        python-version: [310, 311, 312, 313, 314]
        os-platform:
          [
            [ubuntu-latest, manylinux_x86_64],
            [ubuntu-24.04-arm, manylinux_aarch64],
            [windows-latest, win_amd64],
            [macos-15, macosx_x86_64],
            [macos-latest, macosx_arm64],
          ]
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Build wheels and run tests
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
          CIBW_BEFORE_TEST: uv sync --group dev
          CIBW_TEST_COMMAND: uv run pytest {project}/tests -k "not efficiency"

  run_benchmarks:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          submodules: "true"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: uv sync --group dev --group codspeed

      - name: Run benchmarks
        uses: CodSpeedHQ/action@0010eb0ca6e89b80c88e8edaaa07cfe5f3e6664d # 3.5.0
        with:
          token: ${{ secrets.CODESPEED_TOKEN }}
          run: uv run pytest tests/test_efficiency.py --codspeed
